@import url('https://fonts.googleapis.com/css2?family=Orbitron');
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans');


main {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url('../images/bg.jpg');
  background-size: cover;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 50px;
}

header {
  display: flex;
  flex-direction: column; /* Alterado para exibir os itens em uma coluna */
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 2em;
  width: 100%;
  max-width: 800px;
  padding: 15px;
  margin: 0 0 30px;
  border-radius: 5px;
  font-family: 'Smooch Sans';
  color: rgb(49, 103, 185);
}

.final__button {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  color: #5d0179;
  cursor: pointer;
  font-size: 1.5em;
  max-width: 300px;
  padding: 15px;
  width: 100%;
  font-family: 'Orbitron';
}

#history {
  width: 30%;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  margin-top: 20px;
  font-family: 'Smooch Sans';
  color: rgb(49, 103, 185);
  font-size: 1.2em;
}

#history table {
  margin: 0 auto; /* Adicionado para centralizar a tabela */
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  width: 100%;
  border-collapse: collapse;
}

#history th, #history td, #history h2 {
  background-color: rgba(255, 255, 255, 0.5);
  border: 3px solid #86c8ee;
  border-radius: 8px;
  padding: 8px;
  text-align: center; /* Adicionado para centralizar o texto */
}

#history th {
  font-size: 1.2em;
}